---
import "@styles/main.css"
import { AnimatedBackground } from "@components/AnimatedBackground"

interface LayoutProps {
	title?: string
}

const { title } = Astro.props as LayoutProps
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="I am a 20-year-old systems engineering student, passionate about programming, with other hobbies such as drawing, working out, and listening to music."
		/>
		<meta name="theme-color" content="#f3f3f3" />
		<title>
			{title ?? "ImMau14"}
		</title>
	</head>
	<body class="min-h-screen bg-gray-50">
		<AnimatedBackground className="min-h-screen flex items-center justify-center p-6" client:load>
			<main
				class="relative w-full max-w-2xl mx-auto px-4 sm:px-6 bg-gray-200/40 backdrop-blur rounded-xl shadow-md border border-gray-300/30 p-6 md:p-10"
			>
				<slot />
			</main>
		</AnimatedBackground>
	</body>
</html>
