<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Info</title>
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Contenedor principal -->
    <main>
        <!-- Título principal -->
        <h1>📁 File Info</h1>

        <!-- Sección de carga de archivos -->
        <div>
            <div id="dropZone">
                <span>⬆️ Arrastra archivos aquí o</span>
                <input type="file" id="fileInput" hidden>
                <button id="uploadButton">Seleccionar archivo</button>
                <div>
                    <button id="startUpload">Iniciar subida</button>
                    <button id="cancelUpload">Cancelar</button>
                </div>
                <div id="uploadStatus"></div>
            </div>
        </div>

        <!-- Contenedor de metadatos -->
        <div id="metadataContainer">
            <h2>Detalles del archivo</h2>
            <div id="details">
                <!-- Los detalles se insertarán dinámicamente aquí -->
            </div>
        </div>
    </main>
	<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>