<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Info</title>
	<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="/static/styles/fonts.css">
	<link rel="stylesheet" href="/static/styles/variables.css">
	<link rel="stylesheet" href="/static/styles/global.css">
	<link rel="stylesheet" href="/static/styles/dropzone.css">
	<link rel="stylesheet" href="/static/styles/progressbar.css">
	<link rel="stylesheet" href="/static/styles/metadata.css">
</head>

<body>
    <main>
        <h1>📁 File Info</h1>

		<div id="dropZone">
			<p>⬆️ {{ form }}</p> <!-- .pdf, --->
			<input type="file" id="fileInput" hidden accept=".pdf, .txt, .png, .jpeg, .gif" hidden>
			<button id="uploadButton" class="btn btn-green">{{ upload }}</button>
		</div>

		<div id="progressbar-container">
			<div id="progressbar-background">
				<div id="progressbar-fill"></div>
				<div id="uploadStatus">{{ initStatus }}</div>
			</div>
		</div>
		
		<div id="buttons">
			<button id="startUpload" class="btn btn-blue">{{ start }}</button>
			<button id="cancelUpload" class="btn btn-red">{{ cancel }}</button>
		</div>

        <div id="metadataContainer">
            <h2>{{ details }}</h2>
			<ul id="details">
            </ul>
        </div>
    </main>
	<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>