<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Info</title>
	<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
	<link rel="icon" href="/static/favicon.png" type="image/png">
	<link rel="stylesheet" href="/static/styles/fonts.css">
	<link rel="stylesheet" href="/static/styles/variables.css">
	<link rel="stylesheet" href="/static/styles/global.css">
	<link rel="stylesheet" href="/static/styles/dropzone.css">
	<link rel="stylesheet" href="/static/styles/progressbar.css">
	<link rel="stylesheet" href="/static/styles/metadata.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/camera.css') }}">
</head>

<body>

    <div id="camera-section" class="hidden">
      <h2> Tomar Foto</h2>
      <video id="camera-view" autoplay playsinline></video>
      <button id="capture-btn" class="btn btn-blue">Capturar</button>
      <canvas id="photo-canvas"></canvas>
      <img id="photo-result" alt="Foto capturada" class="hidden">
      <pre id="photo-details" class="hidden"></pre>
    </div>

	<button id="toggle-camera" class="btn btn-green">Mostrar Cámara</button>

	<main>
        <h1>📁 File Info</h1>

		<div id="dropZone">
			<p>⬆️ {{ form }}</p> <!-- .pdf, --->
			<input type="file" id="fileInput" hidden accept=".pdf, .txt, .png, .jpeg, .gif" hidden>
			<button id="uploadButton" class="btn btn-green">{{ upload }}</button>
		</div>

		<div id="progressbar-container">
			<div id="progressbar-background">
				<div id="progressbar-fill"></div>
				<div id="uploadStatus">{{ initStatus }}</div>
			</div>
		</div>

		<div id="buttons">
			<button id="startUpload" class="btn btn-blue">{{ start }}</button>
			<button id="cancelUpload" class="btn btn-red">{{ cancel }}</button>
		</div>

        <div id="metadataContainer">
			<hr>
            <h2>{{ details }}</h2>
			<ul id="details">
            </ul>
        </div>
    </main>
	<script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='camera.js') }}"></script>
</body>
</html>
