#metadataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 0 10px;
}

#metadataContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
    margin: 2vh 0;
    padding: 0;
}

#metadataContainer li {
    list-style: none;
    background-color: #252b2e;
    padding: 10px 5% 10px 20px;
    width: 100%;
    max-width: 600px;
    border: 2px solid var(--progressbar-bd-color);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#metadataContainer pre {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    width: 95%;
    min-height: 150px;
    max-height: 30vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #1a1e20;
    border-radius: 8px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#preview-photo {
    width: 85%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1;
    margin: 2vh 0;
    padding: 2%;
    background-color: #252b2e;
    border: 2px solid #1f2427;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

#metadataContainer hr {
	  border: none;
	  width: 100%;
	  height: 3px;
	  border-radius: 2px;
	  background-color: #677981;
	  margin: 20px 0;
}

@media (max-width: 768px) {
    #metadataContainer li {
        padding: 10px 15px;
        border-radius: 15px;
    }
    
    #metadataContainer pre {
        min-height: 120px;
        max-height: 25vh;
        font-size: 0.9em;
    }
    
    #preview-photo {
        width: 70%;
        padding: 15px;
    }
}

